<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clive&lsquo;s Project Namer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/css/{{assets.style.css}}">
  <link rel="shortcut icon" href="/public/images/icons/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/public/images/icons/favicon.ico" type="image/x-icon">
  <meta name="generator" content="{{ eleventy.generator }}">

  <meta name="description" content="A tool for generating codenames for your super secret projects.">
  <meta name="keywords" content="codename, codenames, projects, names, fun">

  <!-- ios support -->
  <link rel="apple-touch-icon" href="/public/images/icons/code-72x72.png">
  <link rel="apple-touch-icon" href="/public/images/icons/code-96x96.png">
  <link rel="apple-touch-icon" href="/public/images/icons/code-128x128.png">
  <link rel="apple-touch-icon" href="/public/images/icons/code-144x144.png">
  <link rel="apple-touch-icon" href="/public/images/icons/code-152x152.png">
  <link rel="apple-touch-icon" href="/public/images/icons/android-chrome-192x192.png">
  <link rel="apple-touch-icon" href="/public/images/icons/code-384x384.png">
  <link rel="apple-touch-icon" href="/public/images/icons/android-chrome-512x512.png">
  <meta name="apple-mobile-web-app-status-bar" content="#483d8b">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Codenames">
  <meta name="msapplication-TileImage" content="/public/images/icons/code-144x144.png">
  <meta name="msapplication-TileColor" content="#483d8b">
  <meta name="theme-color" content="#483d8b">

</head>
<body>

  <div class="container">

    {{ content | safe }}

    <footer>
      <section class="support">
        <a href="https://ko-fi.com/X8X120MQ6" target="_blank"><img height="36" style="border:0px;height:36px;" src="https://storage.ko-fi.com/cdn/kofi2.png?v=3" border="0" alt="Buy Me a Coffee at ko-fi.com" /></a>
      </section>

      <p>&copy; <a href="https://clivemurray.com/">Clive Murray</a></p>
    </footer>

  </div>

  <script src="/public/vendor/spin.min.js"></script>
  <script type="module" src="/public/js/{{assets.main.js}}"></script>

</body>
</html>
