.welcome {
	margin-bottom: 2em;
	text-align: left;
}

.project {
	display: block;
	text-align: left;
}

.prefix,
.animal {
	font-size: 200%;
	line-height: 0.84;
	letter-spacing: -0.15rem;
	display: inline-block;
}
