---
layout: main
---
<main>
	<p class="welcome hide">Welcome to...</p>
	<h1 class="hide">
		<span class="project">Project</span>
		<span class="name">
			<span class="prefix"></span><span class="animal"></span>
		</span>
	</h1>
	<p class="another hide">
		<button>Regenerate</button>
	</p>
</main>
