<div class="container">
	<main>
		<p class="welcome hide">Welcome to...</p>
		<h1 class="hide">
			<span class="project">Project</span>
			<span class="name">
				<span class="prefix"></span>
				<span class="animal"></span>
			</span>
		</h1>
		<p>
			<button class="another hide">Regenerate</button>
		</p>
	</main>

	<section class="support">
		<a href="https://ko-fi.com/X8X120MQ6" target="_blank"><img height="36" style="border:0px;height:36px;" src="https://storage.ko-fi.com/cdn/kofi2.png?v=3" border="0" alt="Buy Me a Coffee at ko-fi.com" /></a>
	</section>
</div>


<script src="js/vendor.js"></script>

<script nomodule src="/js/es5bundle.main.js"></script>
<script type="module" src="/js/main.js"></script>
