---
layout: main
---
{% include "nav.njk" %}

<div class="currentFilters">
	<details>
		<summary>Filters</summary>
	</details>
</div>

<main class="namer">
	<p class="welcome">Welcome to...</p>
	<h1>
		<span class="project">Project</span>
		<span class="name">
			<span class="prefix"></span><span class="animal"></span>
		</span>
	</h1>
	<p class="another">
		<button>Regenerate</button>
	</p>
</main>

<aside>
	<h1>Sorry...</h1>
	<p>This requires Javascript to work. 🙃</p>
</aside>
