---
layout: main
---
{% include "nav.njk" %}

<main id="options">
	<h1>Options</h1>
  <div id="optionsFieldsets">
    <fieldset id="prefixes">
      <h2>Prefix</h2>
    </fieldset>
    <fieldset id="animals">
      <h2>Animal</h2>
    </fieldset>
  </div>

  <button id="go">Go</button>
</main>

<aside>
	<h1>Sorry...</h1>
	<p>This requires Javascript to work. 🙃</p>
</aside>
